<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  <span>Material Theme</span>
  <span class="fill-remaining-space"></span>
  <app-tool-bar-items></app-tool-bar-items>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <app-nav-list></app-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>