@import '~@angular/material/theming';
@include mat-core();

// below defines your custom color to build a theme palette from
$my-blue: (
  50: #0096D6,
  100: #0096D6,
  200: #0096D6,
  300: #0096D6,
  400: #0096D6,
  500: #0077C0,
  600: #0077C0,
  700: #0077C0,
  800: #0077C0,
  900: #0077C0,
  A100: #005288,
  A200: #005288,
  A400: #005288,
  A700: #005288,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$my-custom-primary: mat-palette($my-blue, A100, 500, A100);
$my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
$my-custom-warn: mat-palette($mat-red);

// import custom componenet themes
// unofficial naming convention to support nice ordering of files in IDE 
// to see theme under the original style file of the componenent
@import 'app/components/nav-list/nav-list.component.theme.scss';

@mixin custom-components-theme($theme) {
    @include nav-list-component-theme($theme);
}

$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);

.my-theme {
    @include angular-material-theme($my-custom-theme);
    @include custom-components-theme($my-custom-theme);
}